@model IEnumerable<BookShop.Domain.Entities.Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid pt-4 px-4" >
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-light rounded h-100 p-4">
                            <div class="d-flex justify-content-between">
                               <h6 class="mb-4">Book List</h6>
                               <div class="btnmargin-h2">
                                   <a  class="btn btn-primary m-2"href="/Book/CreateBook" role="button">New<i class="fa fa-plus ms-2"></i></a>
                               </div>
                            </div>

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Title</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   @foreach (var item in Model)
                                   {
                                       <tr>
                                           <td>@item.Title</td>
                                           <td>@item.Description</td>
                                           <td>@item.Price</td>
                                           <td>
                                                 <img src="/@item.ImageUrl" class="rounded-circle"height="40" width="40" asp-append-version="true" />                            
                                               
                                               </td>
                                           <td>
                                                
                                                <a class="btn btn-outline-dark " data-bs-toggle="modal" data-bs-target="#Editmodal_@item.Id"><i class="fa fa-pen ms-2"></i></a>
                                                <a asp-controller="Book" asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary m-1"><i class="fa fa-eye"></i> </a>
                                                 <a asp-action="Delete" asp-route-id="@item.Id"  class="btn btn-danger m-1"><i class="fa fa-trash"></i> </a> 
                                           </td>
                                       </tr>
                                   }
                                </tbody>
                            </table>
                        </div>
                    </div>
</div>



